<div class= text-center>
    <h1> Bienvenue sur le site EventBrit ! </h1>
        <p> Pour cette page d'accueil, vous trouverez la liste des évènements organisés à travers toute la France </p
        <% @events %>

        </div>